/*_GENERAL*/
/*_NAVIGATION*/
/*_NAVIGATION_LEFT_SIDE*/
/*_NAVIGATION_LOGO*/
/*_NAVIGATION_MENU*/
/*_NAVIGATION_RIGHT_SIDE*/
/*_HEADER*/
@import url("https://fonts.googleapis.com/css?family=Raleway");
/*_GENERAL*/
* {
  box-sizing: border-box; }

body {
  margin: 0; }

/*_NAVIGATION*/
nav {
  /*_NAVIGATION_LEFT_SIDE*/
  /*_NAVIGATION_RIGHT_SIDE*/ }
  nav .navigation {
    width: 60px;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #222;
    color: #DDD;
    box-shadow: 0 0 4px 2px #222;
    z-index: 1; }
  nav .left-navigation {
    /*_NAVIGATION_MENU*/ }
    nav .left-navigation .nav-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      nav .left-navigation .nav-menu .tabnav-active .fa, nav .left-navigation .nav-menu .tabnav-active .navwo {
        color: #F79F1F;
        text-shadow: 0 0 4px #F79F1F; }
      nav .left-navigation .nav-menu li {
        position: relative;
        height: 60px;
        line-height: 60px;
        text-align: center; }
        nav .left-navigation .nav-menu li a {
          display: block;
          color: black;
          text-decoration: none;
          text-transform: uppercase; }
          nav .left-navigation .nav-menu li a .fa, nav .left-navigation .nav-menu li a .navwo {
            transition: 0.3s;
            text-shadow: 1px 1px 2px grey; }
          nav .left-navigation .nav-menu li a .fa {
            font-size: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #DDD; }
          nav .left-navigation .nav-menu li a .navwo {
            opacity: 0;
            font-family: "Mina", sans-serif;
            color: #DDD;
            font-size: 12px; }
          nav .left-navigation .nav-menu li a:hover .fa {
            opacity: 0; }
          nav .left-navigation .nav-menu li a:hover .navwo {
            opacity: 1; }
  nav .right-navigation {
    right: 0; }
    nav .right-navigation .social-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* 			[class^="icon"]:active a{
	background-color: #fff;
	box-shadow: 0 0 20px 10px #000;
	color: #000;
} */ }
      nav .right-navigation .social-menu [class^="icon"] {
        line-height: 60px;
        text-align: center; }
        nav .right-navigation .social-menu [class^="icon"] > a {
          height: 45px;
          line-height: 45px;
          width: 45px;
          font-size: 24px;
          color: #DDD;
          background-color: #222;
          display: inline-block;
          box-shadow: 0 0 5px 1px #DDD;
          text-shadow: 1px 1px 2px #555;
          transition-duration: .5s;
          border-radius: 50%;
          text-decoration: none; }
        nav .right-navigation .social-menu [class^="icon"]:hover > a {
          background-color: #FFF;
          transform: rotateY(360deg);
          border-radius: 50%; }
      nav .right-navigation .social-menu [class^="icon-face"]:hover a {
        box-shadow: 0 0 15px 8px #3B5998;
        color: #3B5998; }
      nav .right-navigation .social-menu [class^="icon-git"]:hover a {
        box-shadow: 0 0 15px 8px #323131;
        color: #323131; }
      nav .right-navigation .social-menu [class^="icon-link"]:hover a {
        box-shadow: 0 0 15px 8px #0077B5;
        color: #000; }
      nav .right-navigation .social-menu [class^="icon-cv"]:hover > a {
        box-shadow: 0 0 15px 8px #F79F1F;
        color: #F79F1F;
        text-shadow: 0 0 2px #000; }

[class^="icon-cv"] {
  position: relative; }
  [class^="icon-cv"] .menu-cv {
    padding: 0;
    position: absolute;
    top: 0;
    right: 100%;
    width: 200px;
    text-align: center;
    display: none; }
    [class^="icon-cv"] .menu-cv a {
      background-color: rgba(34, 34, 34, 0.6);
      display: block;
      text-decoration: none;
      color: #FFF;
      margin-right: 10px; }
      [class^="icon-cv"] .menu-cv a:hover {
        background-color: rgba(34, 34, 34, 0.9);
        text-shadow: 0 0 2px #FFF; }
  [class^="icon-cv"]:hover .menu-cv {
    display: block; }

/* HOME */
#home, #about, #skills, #work, #contact-form {
  margin: 0 60px; }

#home {
  height: 100vh;
  position: relative;
  overflow: hidden; }
  #home #particles-js {
    width: 100%;
    height: 100%;
    background-color: #CCC;
    background-image: url("../images/home/home_bg.jpeg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  #home .home-slogan {
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%); }
    #home .home-slogan .home-slogan-text {
      font-family: 'Raleway', sans-serif;
      font-size: 50px;
      color: #FFF;
      text-shadow: 0 0 5px #000; }
  @media (min-width: 768px) and (max-width: 1199px) {
    #home .home-slogan {
      top: 65%;
      left: 35%; } }
  @media (max-width: 767px) {
    #home .home-slogan {
      top: 75%;
      left: 50%; }
      #home .home-slogan .home-slogan-text {
        font-size: 40px; } }

.home-slogan-name {
  color: #F79F1F;
  text-shadow: 0 0 2px #F79F1F; }

/* ABOUT */
#about {
  font-family: 'Raleway', cursive;
  padding-top: 2%;
  background-color: #000;
  height: 100%;
  min-height: 100vh;
  color: white; }
  #about h3 {
    color: #F79F1F; }
  #about .fa {
    font-size: 35px; }
  #about iframe {
    width: 70%;
    height: 280px; }
  #about .buttons {
    margin-top: 20px; }
  #about button {
    border: none;
    border-radius: 2px;
    padding: 0;
    transition: all 0.8s; }
    #about button a {
      display: block;
      padding: 10px;
      text-transform: uppercase;
      color: black;
      text-decoration: none;
      font-family: 'Raleway', sans-serif;
      font-weight: bold; }
  #about .contact-btn {
    background-color: #666; }
    #about .contact-btn:hover {
      background-color: #F79F1F;
      box-shadow: 0 0 3px 2px #FFF;
      text-shadow: 0 0 4px #000; }
    #about .contact-btn a {
      transition: all 0.4s;
      color: #FFF; }
  #about .download-btn {
    background-color: #ccc; }
    #about .download-btn:hover {
      background-color: #fff;
      box-shadow: 0 0 3px 1px #FFF;
      text-shadow: 0 0 4px #333; }
    #about .download-btn a {
      color: black; }

/* SKILLS */
#skills {
  background: #BBB;
  padding-right: 50px; }
  #skills h1 {
    color: #F79F1F; }

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 13.5px;
  list-style-type: none; }

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */ }

.hex::after {
  content: '';
  display: block;
  padding-bottom: 86.602%;
  /* =  100 / tan(60) * 1.5 */ }

.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%;
  /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg); }

.hexIn * {
  background-color: #FFF;
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */ }

#skills .hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg); }

/*** HEX CONTENT **********************************************************************/
.hex img {
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  -webkit-transform: rotate3d(-50%, 0, 0, 0deg);
  -ms-transform: rotate3d(-50%, 0, 0, 0deg);
  transform: rotate3d(-50%, 0, 0, 0deg); }

.hex .jslogo {
  width: 70%; }

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  background-color: black;
  /* HERE CHANGE COLOR OF HEX BACKGROUND */
  font-weight: 300;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out; }

.hex h1 {
  bottom: 49%;
  /* HOVER SHADOW */
  padding-top: 50%;
  font-size: 1.5em;
  z-index: 1;
  -webkit-transform: translate3d(0, -120%, 0);
  -ms-transform: translate3d(0, -120%, 0);
  transform: translate3d(0, -120%, 0); }

.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center; }

.hex p {
  top: 44%;
  /* HOVER SHADOW */
  padding-bottom: 50%;
  -webkit-transform: translate3d(0, 120%, 0);
  -ms-transform: translate3d(0, 120%, 0);
  transform: translate3d(0, 120%, 0); }

/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1, .hexLink:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*** HEX CONTENT **********************************************************************/
.hex h1 {
  font-size: 19px; }

.hex p {
  font-size: 12px; }

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width: 1201px) {
  /* <- 5-4  hexagons per row */
  #hexGrid {
    padding-bottom: 4.4%; }
  .hex {
    width: 20%;
    /* = 100 / 5 */ }
  .hex:nth-child(9n+6) {
    /* first hexagon of even rows */
    margin-left: 10%;
    /* = width of .hex / 2  to indent even rows */ } }

@media (max-width: 1200px) and (min-width: 901px) {
  /* <- 4-3  hexagons per row */
  #hexGrid {
    padding-bottom: 7.4%; }
  .hex {
    width: 33.333%;
    /* = 100 / 4 */ }
  .hex:nth-child(5n+4) {
    /* first hexagon of even rows */
    margin-left: 16.666%;
    /* = width of .hex / 2  to indent even rows */ }
  .hex p {
    font-size: 14px; } }

@media (max-width: 900px) and (min-width: 601px) {
  /* <- 3-2  hexagons per row */
  #hexGrid {
    padding-bottom: 11.2%; }
  .hex {
    width: 50%;
    /* = 100 / 3 */ }
  .hex:nth-child(3n+3) {
    /* first hexagon of even rows */
    margin-left: 25%;
    /* = width of .hex / 2  to indent even rows */ }
  .hex h1 {
    font-size: 25px; }
  .hex p {
    font-size: 16px;
    /* do sth with this, maybe remove text through js? */ } }

@media (max-width: 600px) {
  /* <- 2-1  hexagons per row */
  #hexGrid {
    display: block;
    width: 100%; }
    #hexGrid .hex h1 {
      font-size: 16px; }
    #hexGrid .hex p {
      font-size: 10.5px; }
  .hex {
    position: relative;
    margin-bottom: 30%;
    /* fix for jagged edges in FF on hover transition */ } }

/* WORK */
#work {
  text-align: center;
  padding: 10px;
  background-color: #BBB; }

.work-segment {
  font-family: 'Raleway', sans-serif;
  margin: 10px;
  height: 312px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px #FFF; }
  .work-segment img {
    transition: transform 0.6s; }
  .work-segment:hover img {
    transform: translate3d(-30px, 0, 0) scale(1.12); }
  .work-segment .work-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.6s; }
    .work-segment .work-content .work-technologies {
      transition: transform 0.6s;
      width: 35%;
      height: 60%;
      margin-top: 60px;
      color: #FFF;
      border-right: 2px solid rgba(255, 255, 255, 0.7); }
      .work-segment .work-content .work-technologies h6 {
        padding-top: 20px; }
      .work-segment .work-content .work-technologies ul {
        list-style: none; }
    .work-segment .work-content .work-links {
      transition: transform 0.6s;
      position: absolute;
      top: 20%;
      right: 10px; }
      .work-segment .work-content .work-links a {
        display: block;
        color: #DDD;
        margin: 20px; }
        .work-segment .work-content .work-links a .fa {
          font-size: 50px; }
          .work-segment .work-content .work-links a .fa:hover {
            color: #FFF;
            text-shadow: 0 0 3px #DDD; }
    .work-segment .work-content .work-title {
      transition: transform 0.6s;
      color: #FFF;
      text-shadow: 0 0 1px #555;
      text-transform: uppercase;
      position: absolute;
      width: 200px;
      transform: translate(100%, 0);
      bottom: 3%;
      right: 0%;
      background-color: rgba(247, 159, 31, 0.6);
      box-shadow: 0 0 3px 1px rgba(247, 159, 31, 0.8);
      border-radius: 5px 0 0 5px; }
  .work-segment:hover .work-content {
    opacity: 1; }
    .work-segment:hover .work-content .work-technologies {
      transform: translate(40%, 0); }
    .work-segment:hover .work-content .work-links {
      transform: translate(-100%, 0); }
    .work-segment:hover .work-content .work-title {
      transform: translate(0, 0); }

@media (max-width: 767px) {
  #work {
    padding: 0; }
  .work-segment {
    margin: 0;
    border-radius: 0;
    height: 100%; }
    .work-segment img {
      transition: transform 0.6s;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%; }
    .work-segment .work-content {
      height: 100%; }
      .work-segment .work-content .work-technologies {
        width: 100%;
        height: 50%;
        margin-top: 0;
        transform: translate(-60%, 0);
        border-right: none; }
        .work-segment .work-content .work-technologies h6 {
          padding-top: 10px;
          font-size: 12px;
          text-decoration: underline; }
        .work-segment .work-content .work-technologies ul {
          padding: 0;
          margin: 0;
          font-size: 12px; }
          .work-segment .work-content .work-technologies ul li {
            display: inline-block;
            padding: 5px; }
      .work-segment .work-content .work-links {
        width: 100%;
        display: block;
        top: 35%;
        right: 10px;
        transform: translate(80%, 0); }
        .work-segment .work-content .work-links a {
          display: inline-block;
          margin: 0 10% 0; }
          .work-segment .work-content .work-links a .fa {
            font-size: 50px; }
      .work-segment .work-content .work-title {
        border-radius: 0;
        color: #FFF;
        text-shadow: 0 0 1px #555;
        text-transform: uppercase;
        width: 100%;
        bottom: 0; }
    .work-segment:hover .work-content .work-technologies {
      transform: translate(0, 0); }
    .work-segment:hover .work-content .work-links {
      transform: translate(10px, 0); } }

@media (max-width: 450px) {
  #work {
    margin: 0 20px; }
  .work-segment .work-content .work-technologies h6 {
    padding: 5px 0;
    text-decoration: none; }
  .work-segment .work-content .work-technologies ul li {
    padding: 3px 1px;
    font-size: 11px; }
  .work-segment .work-content .work-links {
    top: 38%; }
    .work-segment .work-content .work-links a {
      display: inline-block;
      margin: 0 10% 0; }
      .work-segment .work-content .work-links a .fa {
        font-size: 40px; }
  .work-segment .work-content .work-title {
    font-size: 10px;
    bottom: -5%; }
  .work-segment:hover .work-content .work-technologies {
    transform: translate(0, 0); }
  .work-segment:hover .work-content .work-links {
    transform: translate(10px, 0); } }

#contact-form {
  font-family: 'Raleway',	sans-serif;
  background-color: #000;
  color: #FFF;
  padding-right: 20px;
  min-height: 100vh; }

.contact-form {
  text-align: center;
  padding: 20px 20px 0 36px; }
  .contact-form h1 {
    color: #F79F1F; }
  .contact-form .form-part {
    position: relative; }
    .contact-form .form-part label {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translate(0%, -50%);
      color: rgba(255, 255, 255, 0.5);
      transition: all 0.6s; }
  .contact-form .form-message label {
    top: 30px; }
  .contact-form input, .contact-form textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: none;
    color: #FFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #000;
    transition: border-bottom 0.6s; }
    .contact-form input:focus, .contact-form textarea:focus {
      outline: none;
      border-bottom: 1px solid #F79F1F; }
    .contact-form input:focus + label, .contact-form input:valid + label, .contact-form textarea:focus + label, .contact-form textarea:valid + label {
      font-size: 0.8rem;
      transform: translate(0%, -30%);
      top: 0;
      color: rgba(255, 255, 255, 0.75); }
  .contact-form button {
    background: #F79F1F;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.6s; }
    .contact-form button:hover {
      color: #FFF;
      text-shadow: 0 0 3px #FFF;
      box-shadow: 0 0 3px 2px #FFF; }

#map {
  text-align: center;
  margin-top: 20px;
  height: 450px;
  background-color: grey; }

.contact-info {
  margin: auto;
  margin-top: 8%;
  text-align: center; }
  .contact-info h6 {
    font-weight: bold;
    text-transform: uppercase; }
  .contact-info p {
    color: #F79F1F;
    font-weight: bold; }
    .contact-info p a {
      display: block;
      color: inherit;
      text-decoration: none; }
  .contact-info .email {
    padding: 0; }

@media (min-width: 992px) and (max-width: 1199px) {
  .contact-info p {
    font-size: 0.9em; } }

@media (max-width: 767px) {
  #contact-form {
    padding: 0; }
  .contact-form {
    padding-right: 36px; }
  .contact-map {
    margin: 0; } }

.tabcontent {
  display: none; }

.tabcontent-active {
  display: block; }
