// Main Sass File
// TABLE OF CONTENTS
/*_GENERAL*/
/*_NAVIGATION*/
	/*_NAVIGATION_LEFT_SIDE*/
		/*_NAVIGATION_LOGO*/ // Not available at the moment
		/*_NAVIGATION_MENU*/
	/*_NAVIGATION_RIGHT_SIDE*/
/*_HEADER*/


@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Mina|Permanent+Marker');

//SASS variables
$tablets: "(min-width: 768px) and (max-width: 1199px)";
$phones: "(max-width: 767px)";
	//NAV variables
		//COLORS
$nav-colors-bgc: #222;
$nav-colors-font: #DDD;

		//FONTS
$nav-font-portfolio: 'Mina', sans-serif;

		//SIZES
$nav-size-nav: 60px;
$nav-size-logo: (0.3 * $nav-size-nav);
$nav-size-icons: (0.50 * $nav-size-nav);
$nav-size-font: (0.2 * $nav-size-nav);
$nav-size-socialIcons: $nav-size-icons * 1.5;

// Collors #ff3838 #ffa502;
$main-color: #e1b12c;

$skill-height: 200px;
// SASS - Mixins 
	// NAV Mixins

@mixin nav-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*_GENERAL*/
* {
	box-sizing: border-box;
	// outline: 1px solid red;
}

body {
	margin: 0;
}

/*_NAVIGATION*/
nav { 
	.navigation {
		width:  $nav-size-nav;
		height: 100vh;
		position: fixed;
		top: 0;
		bottom: 0;
		background: $nav-colors-bgc;
		color: $nav-colors-font;
		box-shadow: 0 0 4px 2px $nav-colors-bgc;
		z-index: 1;
	}
	/*_NAVIGATION_LEFT_SIDE*/
	.left-navigation { 
		/*_NAVIGATION_MENU*/
		.nav-menu {
			@include nav-menu;
			.tabnav-active .fa, .tabnav-active .navwo  {
				color: $main-color;
				text-shadow: 0 0 4px $main-color; 
			}
			li {
				position: relative;
				height:  $nav-size-nav;
				line-height:  $nav-size-nav;
				text-align: center;
				a {
					display: block;
					color: black;
					text-decoration: none;
					text-transform: uppercase;
					.fa, .navwo {
						transition: 0.3s;
						text-shadow: 1px 1px 2px grey;
					}

					.fa {
						font-size: $nav-size-icons;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						color: $nav-colors-font;
					}
					.navwo {
						opacity: 0;
						font-family: $nav-font-portfolio;
						color: $nav-colors-font;
						font-size: $nav-size-font;
					}

					&:hover {
						.fa {
							opacity: 0;
						}
						.navwo {
							opacity: 1;
						}
					}
				}	
			}
		}
	}
	/*_NAVIGATION_RIGHT_SIDE*/
	.right-navigation {
			right:0;
		.social-menu {
			@include nav-menu;
			[class^="icon"] {
				line-height: $nav-size-nav;
				text-align: center;
				a {
					height: $nav-size-socialIcons;
					line-height: $nav-size-socialIcons;
					width: $nav-size-socialIcons;
					font-size: $nav-size-font * 2;
					color: $nav-colors-font;
					background-color: $nav-colors-bgc;
					display: inline-block;
					box-shadow: 0 0 5px 1px $nav-colors-font;
					text-shadow: 1px 1px 2px #555;
					transition-duration: .5s;
					border-radius: 50%;
				}
				&:hover a {
					background-color: #FFF;
					transform:rotateY(360deg);
					border-radius: 50%;
				}
			}
			[class^="icon-face"]:hover a {
				box-shadow: 0 0 15px 8px #3B5998;
				color: #3B5998;
			}
			[class^="icon-git"]:hover a {
				box-shadow: 0 0 15px 8px #323131;
				color: #323131;
			}
			[class^="icon-link"]:hover a {
				box-shadow: 0 0 15px 8px #0077B5;
				color: #000;
			}
			[class^="icon"]:active a{
				background-color: #fff;
				box-shadow: 0 0 20px 10px #000;
				color: #000;
			}
		}
	}
}

/* HOME */

#home {
		margin: 0 $nav-size-nav;
		height: 100vh;
		position: relative;
		overflow: hidden;
	#particles-js{
	  width: 100%;
	  height: 100%;
	  background-color: #CCC;
	  background-image: url('../images/home/home_bg.jpeg');
	  background-size: cover;
	  background-position: 50% 50%;
	  background-repeat: no-repeat;
	}
	.home-slogan {
		position: absolute;
		top: 65%;
		left: 25%;
		transform: translate(-50%, -50%);
		.home-slogan-text {
			font-family: 'Lato', sans-serif;
			font-size: 50px;
			// text-align: center;
			color: #FFF;
			text-shadow: 0 0 5px #000;
		}
	}
	@media #{$tablets} {
	.home-slogan {
			top: 65%;
			left: 35%;
		}
	}
	@media #{$phones} {
		.home-slogan {
			top: 75%;
			left: 40%;
			.home-slogan-text {
				font-size: 40px;
			}
		}
	}
}





/* SKILLS */
#skills {
	margin: 0 60px;
	[class^="skill-bg-"] {
		min-height:$skill-height;
		background-repeat: no-repeat;
		background-position: center;
		background-size:contain;
		position: relative;
		margin: 0.5rem;

		.skills-overlay {
			border-radius: 15px;
			height:$skill-height;
			width: 100%;
			transition: all 0.4s;

		}
		&:hover .skills-overlay {
			background-color: rgba(0, 0, 0, 0.6);
			box-shadow: 0 0 5px 2px #666;
		}
		.skill-name {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			color: #FFF;
			transition: all 0.4s;
			text-shadow: 0 0 5px #FFF;
			text-align: center;
		}
		&:hover .skill-name {
			opacity: 1;
		}
	}
	.skill-bg-html {background-image: url(../images/skills/html5.png)}
	.skill-bg-css {background-image: url(../images/skills/css3.png)}
	.skill-bg-js {background-image: url(../images/skills/javascript.png); border-radius: 15px;}
	.skill-bg-git {background-image: url(../images/skills/git.png)}
	.skill-bg-node {background-image: url(../images/skills/node.png)}
	.skill-bg-npm {background-image: url(../images/skills/npm.png)}
	.skill-bg-sublime {background-image: url(../images/skills/sublime.png)}
	.skill-bg-react {background-image: url(../images/skills/react.png)}
	.skill-bg-rwd {background-image: url(../images/skills/rwd.png)}	
	.skill-bg-express {background-image: url(../images/skills/express.png)}
	.skill-bg-sass {background-image: url(../images/skills/sass.png)}
	.skill-bg-ajax {background-image: url(../images/skills/ajax.png)}
	.skill-bg-mongodb {background-image: url(../images/skills/mongodb.png)}
	.skill-bg-jquery {background-image: url(../images/skills/jquery.png)}
	.skill-bg-bootstrap {background-image: url(../images/skills/bootstrap.png)}
}

/* WORK */
#work {
	text-align: center;
}

.work-segment {
	font-family: 'Lato', sans-serif;
    margin: 10px;
    height: 312px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    img {
    	transition: transform 0.6s;
    }
    &:hover img {
    	transform: translate3d(-30px, 0, 0) scale(1.12);
    }
    .work-content {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
    	opacity: 0;
		background: rgba(0, 0, 0, 0.5);
		transition: all 0.6s;
		.work-technologies {
			transition: transform 0.6s;
			width: 35%;
			height: 60%;
			margin-top: 60px;
			color: #FFF;
			border-right: 2px solid rgba(255, 255, 255, 0.7);
			h6 {
				padding-top: 20px;
			}
			ul {
				list-style: none;
			}
		}
		.work-links {
			transition: transform 0.6s;
			position: absolute;
			top: 20%;
			right:10px;
			a {
				display: block;
				color: $nav-colors-font;
					margin: 20px;
				.fa {
					font-size: 50px;
					&:hover {color: #FFF; text-shadow: 0 0 3px $nav-colors-font;}
				}
			}
		}
	}
    &:hover .work-content{
    	opacity: 1;
    	.work-technologies {
	    	transform: translate(40%, 0)
    	}
    	.work-links {
	    	transform: translate(-100%, 0)
    	}
    }
    
}















// CONTACT FORM
.contact {
	width: 500px;
	padding: 20px;
	input, textarea {
		margin: 10px;
		padding: 10px;
		width: 100%;
	}
	button {
		float: right;	
	}
}

.main-color {
	color: $main-color;
}


// TABCONTENT

.tabcontent {
	display:none;
}

.tabcontent-active {
	display:block;
}