// Main Sass File
// TABLE OF CONTENTS
/*_GENERAL*/
/*_NAVIGATION*/
	/*_NAVIGATION_LEFT_SIDE*/
		/*_NAVIGATION_LOGO*/ // Not available at the moment
		/*_NAVIGATION_MENU*/
	/*_NAVIGATION_RIGHT_SIDE*/
/*_HEADER*/


@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway');

//SASS variables
$tablets: "(min-width: 768px) and (max-width: 1199px)";
$phones: "(max-width: 767px)";
	//NAV variables
		//COLORS
$nav-colors-bgc: #222;
$nav-colors-font: #DDD;

		//FONTS
$nav-font-portfolio: 'Mina', sans-serif;

		//SIZES
$nav-size-nav: 60px;
$nav-size-logo: (0.3 * $nav-size-nav);
$nav-size-icons: (0.50 * $nav-size-nav);
$nav-size-font: (0.2 * $nav-size-nav);
$nav-size-socialIcons: $nav-size-icons * 1.5;

// Colors #ff3838 #ffa502;
$main-color: #F79F1F;

$skill-height: 200px;
// SASS - Mixins 
	// NAV Mixins

@mixin nav-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*_GENERAL*/
* {
	box-sizing: border-box;
	// outline: 1px solid red;
}

body {
	margin: 0;
}

/*_NAVIGATION*/
nav { 
	.navigation {
		width:  $nav-size-nav;
		height: 100vh;
		position: fixed;
		top: 0;
		bottom: 0;
		background: $nav-colors-bgc;
		color: $nav-colors-font;
		box-shadow: 0 0 4px 2px $nav-colors-bgc;
		z-index: 1;
	}
	/*_NAVIGATION_LEFT_SIDE*/
	.left-navigation { 
		/*_NAVIGATION_MENU*/
		.nav-menu {
			@include nav-menu;
			.tabnav-active .fa, .tabnav-active .navwo  {
				color: $main-color;
				text-shadow: 0 0 4px $main-color; 
			}
			li {
				position: relative;
				height:  $nav-size-nav;
				line-height:  $nav-size-nav;
				text-align: center;
				a {
					display: block;
					color: black;
					text-decoration: none;
					text-transform: uppercase;
					.fa, .navwo {
						transition: 0.3s;
						text-shadow: 1px 1px 2px grey;
					}

					.fa {
						font-size: $nav-size-icons;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						color: $nav-colors-font;
					}
					.navwo {
						opacity: 0;
						font-family: $nav-font-portfolio;
						color: $nav-colors-font;
						font-size: $nav-size-font;
					}

					&:hover {
						.fa {
							opacity: 0;
						}
						.navwo {
							opacity: 1;
						}
					}
				}	
			}
		}
	}
	/*_NAVIGATION_RIGHT_SIDE*/
	.right-navigation {
			right:0;
		.social-menu {
			@include nav-menu;
			[class^="icon"] {
				line-height: $nav-size-nav;
				text-align: center;
				a {
					height: $nav-size-socialIcons;
					line-height: $nav-size-socialIcons;
					width: $nav-size-socialIcons;
					font-size: $nav-size-font * 2;
					color: $nav-colors-font;
					background-color: $nav-colors-bgc;
					display: inline-block;
					box-shadow: 0 0 5px 1px $nav-colors-font;
					text-shadow: 1px 1px 2px #555;
					transition-duration: .5s;
					border-radius: 50%;
				}
				&:hover a {
					background-color: #FFF;
					transform:rotateY(360deg);
					border-radius: 50%;
				}
			}
			[class^="icon-face"]:hover a {
				box-shadow: 0 0 15px 8px #3B5998;
				color: #3B5998;
			}
			[class^="icon-git"]:hover a {
				box-shadow: 0 0 15px 8px #323131;
				color: #323131;
			}
			[class^="icon-link"]:hover a {
				box-shadow: 0 0 15px 8px #0077B5;
				color: #000;
			}
			[class^="icon"]:active a{
				background-color: #fff;
				box-shadow: 0 0 20px 10px #000;
				color: #000;
			}
		}
	}
}

/* HOME */
#home, #about, #skills, #work, #contact-form {
	margin: 0 $nav-size-nav;
}
#home {

		height: 100vh;
		position: relative;
		overflow: hidden;
		#particles-js{
		  width: 100%;
		  height: 100%;
		  background-color: #CCC;
		  background-image: url('../images/home/home_bg.jpeg');
		  background-size: cover;
		  background-position: 50% 50%;
		  background-repeat: no-repeat;
		}
		.home-slogan {
			position: absolute;
			top: 65%;
			left: 25%;
			transform: translate(-50%, -50%);
			.home-slogan-text {
				font-family: 'Raleway', sans-serif;
				font-size: 50px;
				// text-align: center;
				color: #FFF;
				text-shadow: 0 0 5px #000;
			}
		}
		@media #{$tablets} {
		.home-slogan {
				top: 65%;
				left: 35%;
			}
		}
		@media #{$phones} {
			.home-slogan {
				top: 75%;
				left: 50%;
				.home-slogan-text {
					font-size: 40px;
				}
			}
		}
	}
		.home-slogan-name {
			color: $main-color;
			font-family: 'Permanent Marker', cursive;
			text-shadow: 0 0 2px $main-color;
		}

/* ABOUT */

#about {
	font-family: 'Raleway', cursive;
	padding-top: 2%;
	background-color: #000;
	height: 100%;
	min-height: 100vh;
	color: white;
	h3 {
		color: $main-color;
		font-family: 'Permanent Marker', cursive;
	}
	.fa {
		font-size: 35px;
	}
	iframe{
		width: 70%;
		height: 280px;
	}
	.buttons {margin-top: 20px}
	button{
		border: none;
		border-radius: 2px;
		padding: 0;
		transition: all 0.8s;
		a {
			display: block;
			padding: 10px;
			text-transform: uppercase;
			color: black;
			text-decoration: none;
			font-family: 'Raleway', sans-serif;
			font-weight: bold;
		}
	}
	.contact-btn {
		background-color: #666;
		&:hover {
			background-color: $main-color;
			box-shadow: 0 0 3px 2px #FFF;
			text-shadow: 0 0 4px #000;
		}
		a {
			transition: all 0.4s;
			color: #FFF;
		}
	}
	.download-btn{
		background-color: #ccc;
		&:hover {
			background-color: #fff;
			box-shadow: 0 0 3px 1px #FFF;
			text-shadow: 0 0 4px #333;
		}
		a {
			color: black;
		}
	}
}
/* SKILLS */
#skills {
	background: url('../images/skills/skills-bg.jpeg');
	padding-right: 50px;
	h1{
		color:$main-color;
		font-family: 'Permanent Marker', cursive;
	}
}
	#hexGrid {
	  display: flex;
	  flex-wrap: wrap;
	  width: 90%;
	  margin: 0 auto;
	  overflow: hidden;
	  font-family: 'Raleway', sans-serif;
	  font-size: 13.5px;
	  list-style-type: none;
	}

	.hex {
	  position: relative;
	  visibility:hidden;
	  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
	}
	.hex::after{
	  content:'';
	  display:block;
	  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
	}
	.hexIn{
	  position: absolute;
	  width:96%;
	  padding-bottom: 110.851%; /* =  width / sin(60) */
	  margin:0 2%;
	  overflow: hidden;
	  visibility: hidden;
	  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
	  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
	      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
	          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
	}
	.hexIn * {
		background-color: #FFF;
	  position: absolute;
	  visibility: visible;
	  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
	}
	#skills .hexLink {
	    display:block;
	    width: 100%;
	    height: 100%;
	    text-align: center;
	    color: #fff;
	    overflow: hidden;
	    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
	        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
	            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
	}

	/*** HEX CONTENT **********************************************************************/
	.hex img {
	  top: 18%;
	  transform: translate(-50%, -50%);
	  left: -100%;
	  right: -100%;
	  width: 160px;
	  margin: 0 auto;
	  -webkit-transform: rotate3d(0,0,0,0deg);
	      -ms-transform: rotate3d(0,0,0,0deg);
	          transform: rotate3d(0,0,0,0deg);
	}

	.hex h1, .hex p {
	  width: 100%;
	  padding: 5%;
	  box-sizing:border-box;
	  background-color: rgba(0, 0, 0, 1); /* HERE CHANGE COLOR OF HEX BACKGROUND */
	  font-weight: 300;
	  -webkit-transition:  -webkit-transform .3s ease-out;
	          transition:          transform .3s ease-out;
	}
	.hex h1 {
	  bottom: 54%;  /* SOME WEIRD SHIT HERE */
	  padding-top:50%;
	  font-size: 1.5em;
	  z-index: 1;
	  -webkit-transform:translate3d(0,-120%,0);
	      -ms-transform:translate3d(0,-120%,0);
	          transform:translate3d(0,-120%,0);
	}
	.hex h1::after {
	  content: '';
	  position: absolute;
	  bottom: 0;
	  left: 45%;
	  width: 10%;
	  text-align: center;
	}
	.hex p {
	  top: 40%; /* SOME WEIRD SHIT HERE */
	  padding-bottom:50%;
	  -webkit-transform:translate3d(0,120%,0);
	      -ms-transform:translate3d(0,120%,0);
	          transform:translate3d(0,120%,0);
	}


	/*** HOVER EFFECT  **********************************************************************/
	.hexLink:hover h1, .hexLink:hover p, {
	  -webkit-transform:translate3d(0,0,0);
	      -ms-transform:translate3d(0,0,0);
	          transform:translate3d(0,0,0);
	}

	/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
	@media (min-width:1201px) { /* <- 5-4  hexagons per row */
	  #hexGrid{
	    padding-bottom: 4.4%
	  }
	  .hex {
	    width: 20%; /* = 100 / 5 */
	  }
	  .hex:nth-child(9n+6){ /* first hexagon of even rows */
	    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
	  }
	}

	@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
	  #hexGrid{
	    padding-bottom: 7.4%
	  }
	  .hex {
	    width: 33.333%; /* = 100 / 4 */
	  }
	  .hex:nth-child(5n+4){ /* first hexagon of even rows */
	    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
	  }
	}

	@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
	  #hexGrid{
	    padding-bottom: 11.2%
	  }
	  .hex {
	    width: 50%; /* = 100 / 3 */
	  }
	  .hex:nth-child(3n+3){ /* first hexagon of even rows */
	    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
	  }
	  /* .hex p {font-size: 13px} */
	}

	@media (max-width: 600px) { /* <- 2-1  hexagons per row */
		 #hexGrid {
	  display: block;
	  width: 100%;
	}

	.hex {
	  position: relative;
	  margin-bottom: 65px; /* fix for jagged edges in FF on hover transition */
	}


	/*** HEX CONTENT **********************************************************************/
	.hex img {
	  top: 50%;
	  transform: translate(0, -50%);
	  width: 100px;
	}

	.hex h1, .hex p {
	 	font-size: 11.5px;
	}
	
	}

/* WORK */
#work {
	text-align: center;
	padding: 30px;
	background-color: #AAA;

}

.work-segment {
	font-family: 'Raleway', sans-serif;
    margin: 10px;
    height: 312px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #FFF;
    img {
    	transition: transform 0.6s;
    	object-fit: cover
    }
    &:hover img {
    	transform: translate3d(-30px, 0, 0) scale(1.12);
    }
    .work-content {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
    	opacity: 0;
		background: rgba(0, 0, 0, 0.8);
		transition: all 0.6s;
		.work-technologies {
			transition: transform 0.6s;
			width: 35%;
			height: 60%;
			margin-top: 60px;
			color: #FFF;
			border-right: 2px solid rgba(255, 255, 255, 0.7);
			h6 {
				padding-top: 20px;
			}
			ul {
				list-style: none;
			}
		}
		.work-links {
			transition: transform 0.6s;
			position: absolute;
			top: 20%;
			right:10px;
			a {
				display: block;
				color: $nav-colors-font;
					margin: 20px;
				.fa {
					font-size: 50px;
					&:hover {color: #FFF; text-shadow: 0 0 3px $nav-colors-font;}
				}
			}
			.work-title {
				font-family: 'Permanent Marker', cursive;
				color: #FFF;
				text-shadow: 0 0 1px #555;
				text-transform: uppercase;
				position: absolute;
				width: 200px;
				bottom: -50%;
				background-color: rgba(247, 159, 31, 0.6);
				box-shadow: 0 0 3px 1px rgba(247, 159, 31, 0.8);
				border-radius: 5px;
			}
		}
	}
    &:hover .work-content{
    	opacity: 1;
    	.work-technologies {
	    	transform: translate(40%, 0)
    	}
    	.work-links {
	    	transform: translate(-100%, 0)
    	}
    }
    
}

@media #{$phones} {
	#work {
		padding: 0;
	}
	.work-segment {
		margin: 0;
		height:312px;
		width:100%;
		img {
	    	transition: transform 0.6s;
	    	// object-fit: contain;
	    	display: inline-block;
	    }
	    .work-content {
			.work-technologies {
				width: 100%;
				margin-top: 0;
				transform: translate(-60%, 0);
				border-right: none;
				h6 {
					padding-top: 10px;
					text-decoration: underline;
				}
				ul {
					padding: 0;
					margin: 0 50px;
					li {
						display: inline-block;
						padding: 5px;

					}
				}
			}
			.work-links {
				width: 100%;
				top: 40%;
				right:10px;
				transform: translate(80%, 0);
				a {
					display: inline-block;
						margin: 0 20px 50px;
					.fa {
						font-size: 50px;
					}
				}
				.work-title {
					font-family: 'Permanent Marker', cursive;
					color: #FFF;
					text-shadow: 0 0 1px #555;
					text-transform: uppercase;
					width: 100%;
					bottom: -80%;
				}
			}
		}
	    &:hover .work-content{
	    	.work-technologies {transform: translate(0, 0)}
	    	.work-links {transform: translate(10px, 0)}
	    }
	}
}













// CONTACT FORM
.contact {
	width: 500px;
	padding: 20px;
	input, textarea {
		margin: 10px;
		padding: 10px;
		width: 100%;
	}
	button {
		float: right;	
	}
}



// TABCONTENT

.tabcontent {
	display:none;
}

.tabcontent-active {
	display:block;
}



